.service-form-container {
    background-color: var(--neutral-color-50);
    padding: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
}

.service-items {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: 4px;
    width: 160px;
    height: 99px;
    cursor: pointer;
}

.service-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
